.novaPlacaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario div {
  display: flex;
  flex-direction: column;
}
