.adicionarVeiculoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}

.formulario {
  width: 100%;
  margin: 2em 0;
}

.boxBtn{
  display: flex;
  justify-content: center;
  
}


.boxBtn button {
  text-align: center;  
  background-color: var(--azul-escuro-unilavras);
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  color: var(--azul-claro-unilavras);
}

.boxBtn button:hover {
  color: var(--amarelo-background);
}
