.novaPlacaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  width: 80%;
}

.formulario {
  width: 100%;
  margin: 2em 0;
}

.boxBtn{
  display: flex;
  justify-content: center;
  
}

