/* Reseta as margens e paddings para garantir um layout mais limpo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página, com a estrutura de flexbox */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Cabeçalho - 15% da altura da tela */
.header {
    background-color: #007bff;
    color: white;
    height: 15vh; /* 15% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container - 65% da altura da tela, centralizado */
.main-content {
    flex-grow: 1; /* Permite que o container centralize e preencha o restante do espaço disponível */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 65%; /* 65% da largura da tela */
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

/* Rodapé - 20% da altura da tela */
.footer {
    background-color: #343a40;
    color: white;
    height: 20vh; /* 20% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}
