.adicionarVeiculoContainer {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.adicionarVeiculoContainer h1 {
  margin: 0 auto;
}

.adicionarVeiculoContainer p {
  margin: 0 auto;
  color: #7b7b7b;
  text-align: center;
  padding-bottom: 1em;
}
