.container {

  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.minHeight {
  flex: 1;
}

.start {
  justify-content: center;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}
