.rodape,
.imagemRodape,
.mensagemRodape,
.listaIcones,
.mensagem {
    display: flex;
}

.rodape {
    font-family: "Helvetica";
    justify-content: center;
    background: #febb33;
    color: var(--azul-escuro-unilavras);
    width: 100%;
    gap: 0.5em;
}

.imagemRodape {
    align-items: center;
}

.mensagemRodape {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0.5em;
}

.listaIcones {
    padding: 0.5em;
    gap: 0.5em;
    flex-wrap: wrap;
    list-style: none;
    font-size: 2em;
    color: var(--footer-icon-color);
    cursor: pointer;
}

.icones:hover {
    color: var(--azul-claro-unilavras);
}

.imagem {
    width: 100%;
    height: auto;
}
