.cabecalho,
.tituloPrincipal {
  display: flex;
}

.cabecalho {
  justify-content: space-between;
  background: var(--amarelo-background);
}
.tituloPrincipal {
  align-items: center;
  padding: 1em;
  text-decoration: none;
  color: var(--azul-escuro-unilavras);
}
