.cabecalho {
    display: flex;
    justify-content: space-between;
    background: var(--amarelo-background);
    height: 4em;
}
.cabecalho h1 {
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.home {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
