/* .fraseContainer {
  background-color: #000;
  border: 1px solid #333;
  size: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 30px;
  width: 50%;
  
}

.fraseContent {
  color: #fff;
  background-color: #333;
  margin: 0;
} */
