:root {
  --azul-claro-unilavras: rgb(0, 157, 224);
  --azul-escuro-unilavras: rgb(2, 29, 52);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body,
#root {
  background-color: rgb(220, 220, 220);
}
